.my-custom-scrollbar {
    position: relative;
    height: auto;
    overflow: auto;
  }
.quantity {
  width: 42px;
}

.showOrder{
  position: relative;
  height: 450px;
  overflow: auto;
}

.back{
  background-color: white;
}